*{
    padding: 0px;
    box-sizing: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
   color: rgb(5, 6, 82);
   text-align: center;
}
.team{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: aquamarine;
    padding: 20px;
}
#Chiamaka {
    justify-content: center;
    background-color: white;
}
#Tobi {
    justify-content: center;
}
#Stephen {
    justify-content: center;
}
#Elijah {
    justify-content: center;
}

.team_description{
    margin: 5px;
    
}
.team_description h3{
    margin: 0;
}
.team_description p{
   margin: 0;
}
#Chiamaka img{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 200px;
    height: 200px;
}

#Tobi img{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 200px;
    height: 200px;
}
#Stephen img{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 200px;
    height: 200px;
}
#Elijah img{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 200px;
    height: 200px;
}