body{
    padding: 0px;
    box-sizing: 0px;
    background-image: url(background.jpg);
 }

.signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    margin-left: 150px;
}
